* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
h1,
h2 {
  font-family: "Lora", serif;
  font-weight: 600;
}

.pushtotop {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.header__container {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.header__left h1 {
  display: inline;
}

.header__left h1:first-child {
  font-size: 1.5rem;
  color: #82b62d;
}

.header__right a {
  text-decoration: none;
  color: black;
  font-family: "Lora", serif;
  font-weight: 700;
}

.header__right a:hover {
  color: #de4c1d;
}

.header__right__top {
  display: flex;
  justify-content: flex-end;
}

.header__righttop__content i {
  color: #999999;
  margin-left: 2rem;
}

.header__righttop__content a {
  color: #999999;
}

.header__right__bottom {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.header__rightbottom__content {
  display: inline;
  margin-left: 2rem;
}

.header__rightbottom__content a {
  font-size: 1.3rem;
  margin-left: 1.5rem;
}

.carousel {
  background-image: url(../images-layout2/1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 50rem;
}

.carousel__container {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}

.carousel__content {
  text-align: center;
}

.carousel__content p {
  color: white;
  letter-spacing: 5px;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.carousel__content h1 {
  color: white;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.carousel__content p:nth-child(3) {
  color: white;
  letter-spacing: 5px;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.carousel__content button {
  color: white;
  background-color: #82b62d;
  border: none;
  font-size: 1rem;
  padding: 0.8rem 1.8rem;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.carousel__dots i {
  color: white;
  margin: 0 5px;
}

.carousel__dots i:first-child {
  color: #82b62d;
}

.about__container {
  max-width: 80rem;
  margin: 0 auto;
}

.about__container h1 {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  margin: 2rem 0;
  font-weight: 700;
  letter-spacing: 5px;
}

.about__list {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2rem;
}

.about__item h1 {
  font-family: "Roboto", sans-serif;
  text-align: left;
  font-size: 1.2rem;
  margin: 0 0 1rem 0;
  font-weight: 900;
  letter-spacing: 0;
}

.about__item p,
span {
  color: #999999;
}

.about__item span {
  display: block;
  margin-bottom: 2rem;
}
.about__item img {
  width: 100%;
  height: 100%;
}

.about__item:first-child {
  grid-column: 1 / span 2;
}

.about__item:last-child {
  grid-column: 2 / span 2;
}

.about__item button {
  color: white;
  background-color: #82b62d;
  border: none;
  font-size: 1rem;
  padding: 0.8rem 1.8rem;
  cursor: pointer;
}

.services {
  margin-top: 2rem;
  background-color: #f0f5f8;
}

.services__container {
  max-width: 80rem;
  margin: 0 auto;
  padding-top: 2rem;
}

.services__container h1 {
  text-align: center;
  font-size: 2rem;
  letter-spacing: 5px;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
}

.services__item {
  width: calc(100% / 3);
  padding: 2rem 1rem 3rem 0;
  text-align: center;
}

.services__item i {
  width: 2rem;
  height: 2rem;
  background-color: white;
  color: #82b62d;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
}

.services__item h2 {
  margin-bottom: 1rem;
}

.services__item p {
  color: #999999;
}

.news__container {
  max-width: 80rem;
  margin: 0 auto;
  padding-top: 2rem;
}

.news__container h1:first-child {
  text-align: center;
  font-size: 2rem;
  letter-spacing: 5px;
}

.news__items {
  display: flex;
  margin-top: 2rem;
}

.news__right {
  margin: 0 10rem 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}

.news__right__top span {
  margin-right: 5rem;
}

.news__items h1 {
  text-align: left;
  width: 70%;
}

.news__right button {
  color: white;
  background-color: #82b62d;
  border: none;
  font-size: 1rem;
  padding: 0.8rem 1.8rem;
  width: 5.875rem;
  margin-bottom: 4rem;
}

.club {
  background-image: url(../images-layout2/5.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 12rem;
  margin-top: 2rem;
}

.club__container {
  padding-top: 2rem;
  max-width: 80rem;
  margin: 0 auto;
}

.club__container h1 {
  text-align: center;
  font-size: 2rem;
  color: white;
  letter-spacing: 5px;
}

.club__container form {
  text-align: center;
  height: 2rem;
  margin-top: 3rem;
}

.club__container form input {
  padding: 0.5rem 1rem;
  height: 100%;
  width: 20rem;
  font-size: 0.9rem;
}

.club__container form button {
  background-color: #82b62d;
  color: white;
  border: none;
  padding: 0.5rem;
  height: 100%;
  width: 2.5rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.footer__top {
  background-color: #f0f5f8;
  height: auto;
}

.footer__list {
  display: flex;
  justify-content: space-around;
  max-width: 80rem;
  margin: 0 auto;
}

.footer__item {
  margin: 2rem 2rem;
}

.footer__item h1 {
  margin-bottom: 1rem;
}

.footer__item p,
span {
  color: #999999;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.footer__item a {
  color: #82b62d;
  text-decoration: none;
  font-size: 0.8rem;
}

.footer__item span:nth(2) {
  display: block;
  margin-bottom: 1rem;
}

.footer__item:first-child {
  width: 80%;
}

.footer__item:nth-child(2) {
  width: 80%;
}

.footer__item:nth-child(3) {
  width: 25%;
}

.footer__nav {
  display: flex;
  flex-direction: column;
}

.footer__nav a {
  color: black;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.footer__nav a:hover {
  color: #82b62d;
}

.footer__bottom {
  background-color: black;
  color: white;
  text-align: center;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer__bottom p {
  display: inline;
}

.footer__bottom span {
  color: #82b62d;
}
